@font-face {
    font-family: 'nes';
    src: url("assets/fonts/PressStart2P-Regular.ttf") format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'nes', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}